{% extends "iteration3/data-submission/layout.html" %}

{% set pageName = serviceName %}



{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-7">
      <h2>
        File received
      </h2>
      <p>We’ve received your file, and it is waiting to be validated.</p>
      <h3>What happens next?</h3>
        <p>Your file will now enter the validation process.
          When validation is complete, you’ll receive an email notification and you'll be able to download a feedback report.<br>You can see the status of your submission on the <a href="submissions4">submissions page</a></p>
  </div>
  </div>
 
{% endblock %}
