{% extends "layout.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% set pageName = "Choose period" %}
{% set hintHtml -%}
  <p class="nhsuk-u-margin-bottom-2">Select the reporting period relevant to your data submission.</p>
{%- endset %}
{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">Submit data</span>
      </h1>

      <form action="#" method="post" class="form">
        {% from 'radios/macro.njk' import radios %}

        {{ radios({
          idPrefix: "period",
          name: "period",
          classes: "nhs-radios--small",
          fieldset: {
            legend: {
              text: "Which period do you want to submit data for?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
          html: hintHtml
          },
          values: data.period,
          items: [
          {
              value: "October 2025 - Provisional",
              text: "October 2025 - Provisional"
            },
             {
              value: "September 2025 - Final",
              text: "September 2025 - Final"
            },
             {
              value: "August 2025 - Final",
              text: "August 2025 - Final"
            },
             {
              value: "July 2025 - Final",
              text: "July 2025 - Final"
            },
            {
              value: "June 2025 - Final",
              text: "June 2025 - Final"
            },
            {
              value: "May 2025 - Final",
              text: "May 2025 - Final"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

       

      </form>

    </div>
  </div>


{% endblock %}
