{% extends "iteration4/collection-management/reporting-periods/layout-collection-management.html" %}

{% set pageName = "Diagnostic Imaging Data Set (V2.0) - Reporting periods" %}

{% from "breadcrumb/macro.njk" import breadcrumb %}
{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l nhsuk-u-margin-top-3">Are you sure you want to edit this reporting period?</h1>

        <p>You are about to edit the following reporting period:</p>

        <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-6">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Reporting period</dt>
            <dd class="nhsuk-summary-list__value">December 2026 </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Start date</dt>
            <dd class="nhsuk-summary-list__value">1 Dec 2026, 00:00:00</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">End date</dt>
            <dd class="nhsuk-summary-list__value">31 Dec 2026, 23:59:59</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Submission windows</dt>
            <dd class="nhsuk-summary-list__value">2 windows</dd>
          </div>
        
        </dl>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>Please think carefully about the consequences before proceeding. Editing this reporting period may affect ongoing data submissions.</p>
          <p>This action cannot be undone.</p>
        </div>

        <form method="post" action="periods-dec-edited">
          <input type="hidden" name="action" value="edit">
          <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-3" href="periods">Cancel</a>
          <button class="nhsuk-button nhsuk-button" type="submit">
            Save changes
          </button>
        </form>

      </div>
    </div>

    {% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}