{% extends "iteration4/collection-management/reporting-periods/layout-collection-management.html" %}

{% set pageName = "Diagnostic Imaging Data Set (V2.0) - Submission windows" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
{% from 'tag/macro.njk' import tag %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
       
<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      Create a reporting period
    </h1>
    
  </legend>
<p>Use this page to create a reporting period, also referred to as an activity period. This defines the time period that the submitted data relates to.</p>
<div class="nhsuk-form-group nhsuk-u-margin-top-4">
  <h1 class="nhsuk-label-wrapper">
    <label class="nhsuk-label nhsuk-label--m" for="reporting-period-name">
      Reporting period name
    </label>
  </h1>
  <input class="nhsuk-input" id="reporting-period-name" name="reportingPeriodName" type="text">
</div>



<div class="nhsuk-form-group nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-8">
  <div class="nhsuk-form-group nhsuk-u-margin-top-8">
    <fieldset class="nhsuk-fieldset" role="group" aria-describedby="start-date-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        <h1 class="nhsuk-fieldset__heading">
          Start date
        </h1>
      </legend>
      <div id="start-date-hint" class="nhsuk-hint">
        For example, 18 3 2026
      </div>
      <div id="reporting-period-start" class="nhsuk-date-input">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group nhsuk-u-margin-bottom-8">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-start-day">
              Day
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="reporting-period-start-day" name="reportingPeriodStart[day]" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-start-month">
              Month
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="reporting-period-start-month" name="reportingPeriodStart[month]" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-start-year">
              Year
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="reporting-period-start-year" name="reportingPeriodStart[year]" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
      {% set startTimeHtml %}
<div class="nhsuk-hint nhsuk-u-margin-bottom-3">
  For example, 14 30 00
</div>
<div id="submission-window-start-time" class="nhsuk-date-input ">
  <div class="nhsuk-date-input__item">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-date-input__label" for="submission-window-start-hour">
        Hour
      </label>
      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="submission-window-start-hour" name="submissionWindowStart[hour]" type="text" inputmode="numeric">
    </div>
  </div>
  <div class="nhsuk-date-input__item nhsuk-time-separator" aria-hidden="true">:</div>
  <div class="nhsuk-date-input__item">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-date-input__label" for="submission-window-start-minute">
        Minute
      </label>
      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="submission-window-start-minute" name="submissionWindowStart[minute]" type="text" inputmode="numeric">
    </div>
  </div>
  <div class="nhsuk-date-input__item nhsuk-time-separator" aria-hidden="true">:</div>
  <div class="nhsuk-date-input__item">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-date-input__label" for="submission-window-start-second">
        Seconds
      </label>
      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="submission-window-start-second" name="submissionWindowStart[second]" type="text" inputmode="numeric">
    </div>
  </div>
</div>
{% endset -%}

{{ radios({
  idPrefix: "start-time-type",
  name: "start-time-type",
  fieldset: {
    legend: {
      text: "What time?",
      classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-top-8",
      size: "l",
      isPageHeading: true
    }
  },
  items: [
    {
      value: "start-of-day",
      text: "Start of the day (00:00:00)"
    },
    {
      value: "specific-time",
      text: "Add a specific time",
      conditional: {
        html: startTimeHtml
      }
    }
  ]
}) }}
    </fieldset>
  </div>

  <div class="nhsuk-form-group nhsuk-u-margin-top-8">
    <fieldset class="nhsuk-fieldset" role="group" aria-describedby="end-date-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        <h1 class="nhsuk-fieldset__heading">
          End date
        </h1>
      </legend>
      <div id="end-date-hint" class="nhsuk-hint">
        For example, 18 3 2026
      </div>
      <div id="reporting-period-end" class="nhsuk-date-input bottom">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group nhsuk-u-margin-bottom-8">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-end-day">
              Day
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="reporting-period-end-day" name="reportingPeriodEnd[day]" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-end-month">
              Month
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="reporting-period-end-month" name="reportingPeriodEnd[month]" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-end-year">
              Year
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="reporting-period-end-year" name="reportingPeriodEnd[year]" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
      {% set endTimeHtml %}
<div class="nhsuk-hint nhsuk-u-margin-bottom-3">
  For example, 14 30 00
</div>
<div id="submission-window-end-time" class="nhsuk-date-input ">
  <div class="nhsuk-date-input__item">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-date-input__label " for="submission-window-end-hour">
        Hour
      </label>
      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="submission-window-end-hour" name="submissionWindowEnd[hour]" type="text" inputmode="numeric">
    </div>
  </div>
  <div class="nhsuk-date-input__item nhsuk-time-separator" aria-hidden="true">:</div>
  <div class="nhsuk-date-input__item">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-date-input__label" for="submission-window-end-minute">
        Minute
      </label>
      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="submission-window-end-minute" name="submissionWindowEnd[minute]" type="text" inputmode="numeric">
    </div>
  </div>
  <div class="nhsuk-date-input__item nhsuk-time-separator" aria-hidden="true">:</div>
  <div class="nhsuk-date-input__item">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-date-input__label" for="submission-window-end-second">
        Seconds
      </label>
      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="submission-window-end-second" name="submissionWindowEnd[second]" type="text" inputmode="numeric">
    </div>
  </div>
</div>
{% endset -%}

{{ radios({
  idPrefix: "end-time-type",
  name: "end-time-type",
  fieldset: {
    legend: {
      text: "What time?",
      classes: "nhsuk-fieldset__legend--s",
      size: "l",
      isPageHeading: true
    }
  },
  items: [
    {
      value: "end-of-day",
      text: "End of the day (23:59:59)"
    },
    {
      value: "specific-time",
      text: "Add a specific time",
      conditional: {
        html: endTimeHtml
      }
    }
  ]
}) }}
    </fieldset>
  </div>

</div>

  {% from "button/macro.njk" import button %}



</fieldset>
<div class="nhsuk-u-margin-top-4">
{{ button({
  text: "Save",
  href: "periods"
}) }}
</div>
      </div>
    </div>

    {% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}