{% extends "iteration5/collection-mantaining-monitoring/reporting-periods/layout-collection-management.html" %}

{% set pageName = "Reporting period saved" %}



{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-3">

    <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
      <div class="nhsuk-notification-banner__header">
        <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">Success</h2>
      </div>
      <div class="nhsuk-notification-banner__content">
        <h3 class="nhsuk-notification-banner__heading">Submission window created</h3>
        <p>The submission window <strong>December 2026</strong> has been successfully created.</p>
      </div>
    </div>

    <h2>What happens next</h2>
    <p>
      This submission window has now been created. Organisations assigned to this window will be able to submit data within the date range selected.
      <br><br>If a notification was configured, affected users will receive an email at the scheduled time.
 
    </p>

    <p class="nhsuk-u-margin-top-6">
      <a href="submission-windows" class="nhsuk-link">Return to submission windows</a>
    </p>

  </div>
</div>
{% endblock %}
