{% extends "iteration5/data-submission-LCS/layout.html" %}
{% set pageName = "Your permissions" %}
{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "home-no-permission",
      text: "Home"
    },
    {
      href: "account",
      text: "Your account"
    }
  ]
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds  nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-2">
    <h1>{{ pageName }}</h1>


    <p>Currently you have permissions for the following collection(s):</p>
    {% from "summary-list/macro.njk" import summaryList %}

    {{ summaryList({
      rows: [
        {
          key: { text: "Lung Cancer Screening Data Set (LCSDS)" },
          value: { text: "" },
          actions: {
            items: [
              {
                href: "lcs",
                text: "View",
                visuallyHiddenText: "Lung Cancer Screening Data Set (LCSDS)"
              }
            ]
          }
        }
      ]
    }) }}

    <p><br></p>
    <h2 class="nhsuk-heading-l nhsuk-u-margin-top-4">Pending requests</h2>
    <p>No pending requests.</p>
    <hr>  

    {% from 'action-link/macro.njk' import actionLink %}
    {{ actionLink({
      text: "Start a permission request",
      href: "../request-permissions/permission-request-start"
    }) }}
 <p>Access is not granted automatically, each request is reviewed to ensure data security and confirm that your role is appropriate.</p>
  </div>
</div>
{% endblock %}
