{% extends "iteration3/collection-management/layout-collection-management.html" %}

{% set pageName = "Diagnostic Imaging Data Set (V2.0) - Reporting periods" %}

{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}
{{ breadcrumb({
  classes: "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4",
  items: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "setup",
      text: "Set up"
    },
    {
      href: "periods",
      text: "Reporting periods"
    }
  ],
  href: "windows",
  text: "April 2026"
}) }}
{% endblock %}

{% block content %}
{% from 'tag/macro.njk' import tag %}
{% from 'input/macro.njk' import input %}
{% from 'date-input/macro.njk' import dateInput %}
{% from 'fieldset/macro.njk' import fieldset %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form method="post">

      {% call fieldset({
        legend: {
          text: "Edit reporting period",
          classes: "nhsuk-fieldset__legend--l nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-6",
          isPageHeading: true
        }
      }) %}

        {{ input({
          label: {
            text: "Reporting period name",
            classes: "nhsuk-label--m"
          },
          classes: "nhsuk-u-margin-bottom-4",
          id: "reporting-period-name",
          name: "reportingPeriodName",
          value: "May 2026"
        }) }}

        {{ dateInput({
          id: "reporting-period-start",
          namePrefix: "reportingPeriodStart",
          fieldset: {
            legend: {
              text: "Start date",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          classes: "nhsuk-u-margin-bottom-4",
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2",
              value: "1"
            },
            {
              name: "month", 
              classes: "nhsuk-input--width-2",
              value: "5"
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4",
              value: "2026"
            }
          ]
        }) }}

        {{ dateInput({
          id: "reporting-period-end",
          namePrefix: "reportingPeriodEnd",
          fieldset: {
            legend: {
              text: "End date",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          classes: "nhsuk-u-margin-bottom-4",
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2", 
              value: "31"
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2",
              value: "5"
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4", 
              value: "2026"
            }
          ]
        }) }}

      {% endcall %}

    <div class="">
      {{ button({
        text: "Save",
        href: "periods"
      }) }}
    </div>

    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}
