{% extends "iteration2/collection-management/layout-collection-management.html" %}

{% set pageName = "Diagnostic Imaging Data Set (V2.0) - Submission windows" %}

{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "home",
      text: "Home"
    }
  ],
  href: "setup",
  text: "Set up"
}) }}
{% endblock %}

{% block content %}
{% from 'tag/macro.njk' import tag %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
       
<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      Create a reporting period
    </h1>
  </legend>

<div class="nhsuk-form-group nhsuk-u-margin-top-8">
  <h1 class="nhsuk-label-wrapper">
    <label class="nhsuk-label nhsuk-label--m" for="reporting-period-name">
      Reporting period name
    </label>
  </h1>
  <input class="nhsuk-input" id="reporting-period-name" name="reportingPeriodName" type="text">
</div>



<div class="nhsuk-form-group nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-8">
  <div class="nhsuk-form-group nhsuk-u-margin-top-8">
    <fieldset class="nhsuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        <h1 class="nhsuk-fieldset__heading">
          Start date
        </h1>
      </legend>
      <div id="reporting-period-start" class="nhsuk-date-input">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-start-day">
              Day
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="reporting-period-start-day" name="reportingPeriodStart[day]" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-start-month">
              Month
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="reporting-period-start-month" name="reportingPeriodStart[month]" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-start-year">
              Year
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="reporting-period-start-year" name="reportingPeriodStart[year]" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="nhsuk-form-group nhsuk-u-margin-top-8">
    <fieldset class="nhsuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        <h1 class="nhsuk-fieldset__heading">
          End date
        </h1>
      </legend>
      <div id="reporting-period-end" class="nhsuk-date-input bottom">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-end-day">
              Day
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="reporting-period-end-day" name="reportingPeriodEnd[day]" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-end-month">
              Month
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="reporting-period-end-month" name="reportingPeriodEnd[month]" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="reporting-period-end-year">
              Year
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="reporting-period-end-year" name="reportingPeriodEnd[year]" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

</div>

  {% from "button/macro.njk" import button %}



</fieldset>
<div class="nhsuk-u-margin-top-8">
{{ button({
  text: "Save"
}) }}
</div>
      </div>
    </div>

    {% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}