{% extends "iteration5/request-permissions/layout.html" %}
{% set pageName = "Terms and conditions - Local Administrator" %}
{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-2">
       <h1>
         {{ pageName }}
      </h1>
    <div class="nhsuk-u-margin-bottom-6"> 
    <h2>Introduction</h2>
      <p>The National Data Submission Portal (NDSP) is a new secure platform for submitting data to NHS England. The NDSP is designed to gradually replace older NHS England data collection systems, providing a single, consistent, and secure place for organisations to submit required data.  
It is being delivered through the National Data Integration Tenant (NDIT) to ensure a secure, accessible and consistent data submission experience. <br>
<br>The portal supports a standardised and auditable process for user access and data submission, helping NHS England to maintain data governance standards.
Each user is granted permissions based on a combination of:
</p>
<ul>
<li>Organisation (ODS code)</li>
<li>Collection</li>
<li>Role</li>
</ul>
<p>
</p>
<h2>Purpose</h2>
<p>
</p>

<h2>Access and use</h2>
<p>


</p>
<h2>Responsibilities</h2>
<
<h2>Access changes</h2>
<p>

</p>
<h2>Termination of access</h2>
<p>

</p>
<h2>Communication</h2>
<p>
</p>

</div>



</div>

    </div>
    
      
  </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
