{% extends "iteration5/request-permissions/layout.html" %}
{% set pageName = "Your permissions" %}
{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "home-no-permission",
      text: "Home"
    },
    {
      href: "account",
      text: "Your account"
    }
  ]
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-2">
    <h1>{{ pageName }}</h1>
   <div class="nhs-warning-text nhsuk-grid-column-full">
      <span class="nhs-warning-text__icon" aria-hidden="true">!</span>
      <strong class="nhs-warning-text__text" style="line-height: 32px;">
        <span class="nhs-visually-hidden">Warning</span>
        You don't currently have permissions for any collections on this portal.
      </strong>
      <hr>
    </div>
    <h2 class="nhsuk-heading-l">Pending requests</h2>

    <p>The following permission requests are under review. Further details about your request can be found in the confirmation email sent to you.<br>
    You will be notified by email once a decision has been made.</p>

    <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col">Data collection</th>
          <th class="nhsuk-table__header" scope="col">Role</th>
          <th class="nhsuk-table__header" scope="col">Organisation</th>
          <th class="nhsuk-table__header" scope="col">Date requested</th>
          <th class="nhsuk-table__header" scope="col">Status</th>
          <th class="nhsuk-table__header" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Diagnostic Imaging Data Set V2.0 (DIDS)</td>
          <td class="nhsuk-table__cell">Submitter</td>
          <td class="nhsuk-table__cell">Bedfordshire Hospitals NHS Foundation Trust</td>
          <td class="nhsuk-table__cell">28 May 2026</td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow">Pending</strong></td>
          <td class="nhsuk-table__cell"><a href="#">Withdraw</a></td>
        </tr>
      </tbody>
    </table>


    {% from 'action-link/macro.njk' import actionLink %}
    {{ actionLink({
      text: "Start a permission request",
      href: "permission-request-start"
    }) }}
    <p>Access is not granted automatically, each request is reviewed to ensure data security and confirm that your role is appropriate.</p>


  </div>
</div>
{% endblock %}
