{% extends "layout0.html" %}

{% set pageName = 'Request submitted' %}



{% block content %}
<div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner" style="margin-top: 50px; margin-bottom: 150px;">
  <div class="nhsuk-notification-banner__header">
    <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
      Success
    </h2>
  </div>
<div class="nhsuk-notification-banner__content">
<h3 class="nhsuk-notification-banner__heading">
    Request sent successfully
  </h3>
  <p>Your request for access has been submitted. We will contact you if we need any further information.</p>
  </div>
  </div>

  <div style="margin-top:-100px">
  <h2>What happens next?</h2>
   <p>Your request will now be reviewed by the appropriate team.<br>
You’ll receive an email once your request has been approved or if further information is needed.<br>
If you’ve requested access to more than one collection or organisation, you’ll see a separate entry for each request.</p>
</div>
 <div  class="nhsuk-u-margin-top-4" >
      <a href="home-submitter-request" class="nhsuk-u-margin-top-8">Home</a>
    </div>

{% endblock %}
