{% extends "iteration1/permission-management/no-local-admin/layout.html" %}
{% set pageName = "Choose your role" %}
{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-5">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="choose-role-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">{{ pageName }}</h1>
        </legend>
        <div id="choose-role-hint" class="nhsuk-hint">
          To continue your request, choose the roles you are applying for, your request will go through the standard approval process.
        </div>

        <div class="nhsuk-radios nhsuk-u-margin-top-5" data-module="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="role-submitter" name="role" type="radio" value="submitter">
            <label class="nhsuk-label nhsuk-radios__label" for="role-submitter">
              Submitter
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <p class="nhsuk-u-margin-top-7">Note: The collection you selected only supports one role.</p>

    <button onclick="location='add-ig-contact'" class="nhsuk-button nhsuk-u-margin-top-3">
      Continue
    </button>
  </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
