{% extends "iteration3/permissions/no-local-admin/layout.html" %}

{% set pageName = serviceName %}

{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-7">
      <h1>
         {{ pageName }}
      </h1>
<!-- {% from 'warning-callout/macro.njk' import warningCallout %}
{{ warningCallout({
  heading: "Deadline approaching",
  html: "<p>The submission deadline for Diagnostic Imaging Dataset is approaching and no data has been submitted by your organisation yet. Please ensure your submission is completed before the deadline.</p>"
}) }} -->

      <p class="class="nhsuk-u-margin-bottom-6">Welcome to the new NHS Data Submission Portal. <br>You can use this portal to submit data, see validation feedback, and download reports for multiple collections based on your organisation's access. 
      </p>
      <p >Currently you have permissions for the following collection(s):
      </p>
       <div class="nhs-warning-text nhsuk-grid-column-full">
          <span class="nhs-warning-text__icon" aria-hidden="true">!</span>
          <strong class="nhs-warning-text__text" style="line-height: 32px;"> 
            <span class="nhs-visually-hidden">Warning</span>
            You don't currently have permissions for any collections on this portal.
          </strong>
        </div>
      {% from 'details/macro.njk' import details %}
      {{ details({
        text: "Need help with permissions or submitting data?",
        html: "
          <p>If you need to request or change your permissions for an organisation or collection, you can follow this guidance: <br><a href='#'>How to ask for permissions</a></p>
          
          <p>If you experience any issues accessing the portal or submitting your data, please contact the National Service Desk for support:<br> <a href='mailto:ssd.nationalservicedesk@nhs.net'>ssd.nationalservicedesk@nhs.net</a></p>
          
          <p>For more information and guidance, visit the NHS Data Submission Portal guidance page. <br> <a href='/iteration1/permission-management/no-existing-local-admin/permission-request-start'>View NHS Data Submission Portal guidance</a>  </p>
          
          "
        }) }}
      <hr>  
      <p>If your organisation is participating in a data collection and you are a designated team member, you can request access here. <br>
Access is not granted automatically, each request is reviewed to ensure data security and confirm that your role is appropriate.</p>
      {% from 'action-link/macro.njk' import actionLink %}
      {{ actionLink({
        text: "Start a permission request",
        href: "permission-request-start"
      }) }}
</div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}


{% endblock %}