{% extends "layout.html" %}
{% from 'hint/macro.njk' import hint %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% set pageName = "Choose collection" %}
{% set hintHtml -%}
  <p class="nhsuk-u-margin-bottom-2">Choose a collection from the list below to start your data submission. You’ll be guided through the appropriate steps based on your selection</p>
{%- endset %}
{% block beforeContent %}
  {{ backLink({
    href: "/iteration0/home",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">Submit data</span>
      </h1>
  
      <form action="#" method="post" class="form">
        {% from 'radios/macro.njk' import radios %}

        {{ radios({
          idPrefix: "collection",
          name: "collection",
          fieldset: {
            legend: {
              text: "Which collection do you want to submit data for?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
          html: hintHtml
          },
          values: data.collection,
          items: [
            {
              value: "Diagnostic Imaging Dataset",
              text: "Diagnostic Imaging Dataset"
            },
            {
              value: "Diagnostics Waiting Times and Activity",
              text: "Diagnostics Waiting Times and Activity"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

       

      </form>

    </div>
  </div>

{% endblock %}
