{% extends "layout3.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% set pageName = "Choose organisation" %}
{% set hintHtml -%}
  <p class="nhsuk-u-margin-bottom-2">It looks like you can submit data on behalf of more than one organisation or site. Please select the one you’re submitting for to continue.</p>
{%- endset %}
{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">Submit data</span>
      </h1>

      <form action="#" method="post" class="form">
        {% from 'radios/macro.njk' import radios %}

        {{ radios({
          idPrefix: "organisation",
          name: "organisation",
          fieldset: {
            legend: {
              text: "Which organisation do you want to submit data for?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
          html: hintHtml
          },
          values: data.organisation,
          items: [
            {
              value: "Sheffield Children's NHS Foundation Trust",
              text: "Sheffield Children's NHS Foundation Trust"
            },
            {
              value: "Sheffield Teaching Hospital NHS Foundation Trust",
              text: "Sheffield Teaching Hospital NHS Foundation Trust"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

       

      </form>

    </div>
  </div>


{% endblock %}
