{% extends "layout2.html" %}

{% set pageName = serviceName %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2>
        {{ pageName }}
      </h2>
      <p>Welcome to the new NHS Data Submission Portal. <br>You can use this portal to submit data, see validation feedback, and download reports for multiple collections based on your organisation's access. <br> Currently you can submit for the following collection(s):</p>
      <li style="font-size: 18px;"><strong>Diagnostic Imaging Dataset</strong></li>
      <li style="font-size: 18px;" class="nhsuk-u-margin-bottom-5"><strong>Diagnostics Waiting Times and Activity</strong></li> 
      
      <!-- <article class="nhsuk-ticket-panel" aria-label="DID Submit Data">
        <section class="nhsuk-ticket-panel__content nhsuk-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="nhsuk-heading-m nhsuk-margin-bottom-2">Diagnostic Imaging Dataset</h3>
          <div class="nhsuk-ticket-panel__actions">
             <a href="/iteration0/choose-collection" role="button" draggable="false" class="nhsuk-button" data-module="nhsuk-button">
            View
            </a> 
          </div>
        </section>
      </article> 

      <article class="nhsuk-ticket-panel" aria-label="DWTA Submit Data">
        <section class="nhsuk-ticket-panel__content nhsuk-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="nhsuk-heading-m nhsuk-margin-bottom-2">Diagnostics Waiting Times and Activity</h3>
          <div class="nhsuk-ticket-panel__actions">
            <a href="/iteration0/choose-collection" role="button" draggable="false" class="nhsuk-button" data-module="nhsuk-button">
            view
            </a> 
          </div>
        </section>
      </article> -->

      {% from 'details/macro.njk' import details %}
      {{ details({
        text: "Why can't I see my collection?",
        html: "
        <p>A collection may not appear if you haven't been registered for it yet. If you believe this is incorrect, please contact the responsible for your organisation or call the national service desk for support:</p>
          <p><a href='#'>ssd.nationalservicedesk@nhs.net</a></p>
          <p>Visit the NHS Data Submission Portal website to read more details.<br><a href='#'>NHS Data Submission Portal guidance</a></p>
        "
      }) }}
      <hr>  
      <p>Start your submission here, or choose a collection in the deadline table below to go to its submission page.</p>
      
      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        text: "Start a submission",
        href: "choose-collection2"
      }) }}
      
      <hr>  
      
      <!-- <h2 class="nhsuk-heading-m">Submit data</h2>

      <p>Start a file submission here or use the deadline table below to start a specific submission for specific period.</p>

      <a href="/iteration0/choose-collection" class="nhsuk-button">
        Submit data
      </a> -->

<div class="nhsuk-table__panel-with-heading-tab">    <h3 class="nhsuk-table__heading-tab">Next deadlines</h3>       
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-margin-bottom-5 nhsuk-u-visually-hidden">Next deadlines</caption>
    <thead class="nhsuk-table__head">
      <tr>
        <th scope="col" class="nhsuk-table__header">Collection</th>
        <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Reporting period</th>
        <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Type of deadline</th>
        <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">End date</th>
        <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Action</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <th scope="row" class="nhsuk-table__header">Diagnostic Imaging Dataset (DID)</th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">July 2025</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Monthly</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">26 Aug 2025, 17.00</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="/iteration0/choose-organisation2bis?period=July%202025&template=DID%20V2.0&collection=Diagnostic Imaging Dataset">Submit</a></td>
      </tr>

      <tr class="nhsuk-table__row">
        <th scope="row" class="nhsuk-table__header">Diagnostic Imaging Dataset (DID)</th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">June 2025</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Updates</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">26 Aug 2025, 17.00</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="/iteration0/choose-organisation2bis?period=June%202025&template=DID%20V2.0&collection=Diagnostic Imaging Dataset">Submit</a></td>
      </tr>
      <tr class="nhsuk-table__row">
        <th scope="row" class="nhsuk-table__header">Diagnostics Waiting Times and Activity</th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">July 2025</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Monthly</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">28 Aug 2025, 22.00</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="/iteration0/upload-file2">Submit</a></td>
      </tr>
    </tbody>
  </table>
</div>
    </div>
  </div>
{% endblock %}
