{% extends "layout.html" %}

{% set pageName = serviceName %}



{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">Submissions</h1>
      <p class="nhsuk-body">You can see the status of your submissions below. You can also view or download files you have previously submitted.</p>
      <hr>
      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">xx</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
          <tr role="row">

            <th scope="col" class="nhsuk-table__header" role="columnheader">Submitted on</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Submitted by</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Collection</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Organisation</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Period</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Type</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Action</th>
            
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submitted on</span>23 Jul 2025</td>            
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submitted by</span>John Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Collection</span>{{ data.collection }}</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation</span>{{ data.organisation }}</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Period</span>{{ data.period }}</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>{{ data.type }}</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">How often? </span><a>View</a></td>    
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submitted on</span>23 Jul 2025</td>            
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submitted by</span>John Smith</td>            
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Collection</span>Diagnostic Imaging Dataset</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation</span>Sheffield Children's NHS Foundation Trust</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Period</span>June</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>Test</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">How often? </span><a>View</a></td>    
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Collection</span>Diagnostics Waiting Times and Activity</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation</span>Sheffield Children's NHS Foundation Trust</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Period</span>July</td>
            
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>Regular</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">How often? </span><a>View</a></td>    
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Collection</span>Diagnostic Imaging Dataset</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation</span>Sheffield Teaching Hospital NHS Foundation Trust</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Period</span>June</td>
            
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>Regular</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">How often? </span><a>View</a></td>   
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Collection</span>Diagnostics Waiting Times and Activity</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation</span>Sheffield Teaching Hospital NHS Foundation Trust</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Period</span>May</td>
            
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>Regular</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">How often? </span><a>View</a></td>    
          </tr>
        </tbody>
      </table>
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-list nhsuk-pagination__list">


    <li class="nhsuk-pagination__item--current">
      <a class="nhsuk-pagination__link" href="?page=1">1</a>
    </li>

    <li class="nhsuk-pagination__item nhsuk-pagination__item">
      <a class="nhsuk-pagination__link" href="?page=2">2</a>
    </li>

    <li class="nhsuk-pagination__item">
      <a class="nhsuk-pagination__link" href="?page=3">3</a>
    </li>

    <li class="nhsuk-pagination__item nhsuk-pagination__item--next">
      <a class="nhsuk-pagination__link" href="?page=3" aria-label="Next page">
        <span class="nhsuk-pagination__title">Next →</span>
      </a>
    </li>
  </ul>
</nav>

</div>  
</div>





{% endblock %}
