{% extends "layout.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set pageName = "Submission details" %}

{% block beforeContent %}
  {{ backLink({
    href:  "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l"></span>Submission details</h1>
            <p>Your submission details:</p>
            {% from "summary-list/macro.njk" import summaryList %}
            {{ summaryList({
              rows: [
                {
                  key: { text: "Collection" },
                  value: { text: "Diagnostic Imaging Dataset" }
                },
                {
                  key: { text: "Organisation" },
                  value: { text: "Sheffield Teaching Hospital" }
                },
                {
                  key: { text: "Reporting period" },
                  value: { text: "April 2025" }
                },
                {
                  key: { text: "Template version" },
                  value: { text: "DID V2.0" }
                },
                {
                  key: { text: "Submission ID" },
                  value: { text: "submission_f135e49b-2fc6-4326-93c2-281b564fc1ac" }
                },
                {
                  key: { text: "Submission route" },
                  value: { text: "File submission" }
                },
                {
                  key: { text: "File submitted" },
                  value: { text: "DID_April2025_V2.csv" },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "",
                        visuallyHiddenText: "File submitted"
                      }
                    ]
                  }
                },
                {
                  key: { text: "Submitted on" },
                  value: { text: "05 Sep 2025, 10:55" }
                },
                {
                  key: { text: "Submitted by" },
                  value: { text: "John Smith" }
                },
                {
                  key: { text: "Type" },
                  value: { text: "Updates" }
                },
                {
                  key: { text: "Status" },
                  value: { html: tag({text: "Rejected", classes: "nhsuk-tag--red"}) }
                }
              ]
            }) }}
            }) }}
      
  </div>
    <div style="margin-top:100px; margin-bottom:200px">
                  <h2 class="nhsuk-heading-m" style="clear: both;">Validation feedback</h2>
                 <p>Your validation feedback details:</p>
            {% from "summary-list/macro.njk" import summaryList %}
            
            {{ summaryList({
              rows: [
                {
                  key: { text: "Number of records" },
                  value: { text: "1,234" }
                  
                },
                
                {
                  key: { text: "Errors" },
                  value: { text: "10 error(s)" }
                 },
                {
                  key: { text: "Warnings" },
                  value: { text: "12 warning(s)" }
                }
              ]
            }) }}
      
         {% from 'action-link/macro.njk' import actionLink %}

{{ actionLink({
  text: "Download validation report",
  href: "#"
}) }}     
    </div>
  </div>
{% endblock %}
