{% extends "layout.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set pageName = "Submission details" %}

{% block beforeContent %}
  {{ backLink({
    href:  "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l"></span>Submission details</h1>
            <p>Your submission details:</p>
            {% from "summary-list/macro.njk" import summaryList %}
            
            {{ summaryList({
              rows: [
                {
                  key: { text: "Collection" },
                  value: { text: "Diagnostic Imaging Dataset" }
                },
                {
                  key: { text: "Organisation" },
                  value: { text: "\tSheffield Teaching Hospital" }
                },
                {
                  key: { text: "Reporting period" },
                  value: { text: "July 2025" }
                },
                {
                  key: { text: "Template version" },
                  value: { text: "DID V2.0" }
                },
                {
                  key: { text: "Submission ID" },
                  value: { text: "2734" }
                },
                {
                  key: { text: "File submitted" },
                  value: { text: "DID_Jul2025_V2.csv" },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Download file",
                        visuallyHiddenText: "File submitted"
                      }
                    ]
                  }
                },
                {
                  key: { text: "Submitted on" },
                  value: { text: "15 Sep 2025, 09:30" }
                },
                {
                  key: { text: "Submitted by" },
                  value: { text: "John Smith" }
                },
                {
                  key: { text: "Status" },
                  value: { html: tag({text: "Successful with warnings", classes: "nhsuk-tag--green"}) }
                }
                
              ]
            }) }}
      
  </div>
    <div style="margin-top:100px; margin-bottom:200px">
                  <h2 class="nhsuk-heading-m" style="clear: both;">Validation feedback</h2>
                 <p>Your validation feedback details:</p>
            {% from "summary-list/macro.njk" import summaryList %}
            
            {{ summaryList({
              rows: [
                {
                  key: { text: "Number of records" },
                  value: { text: "1,734" }
                },
                {
                  key: { text: "Errors" },
                  value: { text: "0 error(s)" }
                },
                {
                  key: { text: "Warnings" },
                  value: { text: "25 Warning(s)" }
                }
              ]
            }) }}
      
         {% from 'action-link/macro.njk' import actionLink %}

{{ actionLink({
  text: "Download validation report",
  href: "#"
}) }}     
    </div>
  </div>
{% endblock %}
