{% extends "layout.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set pageName = "Submission details" %}

{% block beforeContent %}
  {{ backLink({
    href:  "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l"></span>Submission details</h1>
            <p>Your submission details:</p>
            {% from "summary-list/macro.njk" import summaryList %}
            
            {{ summaryList({
              rows: [
                {
                  key: { text: "Collection" },
                  value: { text: "Diagnostic Imaging Dataset" }
                },
                {
                  key: { text: "Organisation" },
                  value: { text: "\tSheffield Teaching Hospital" }
                },
                {
                  key: { text: "Reporting period" },
                  value: { text: "August 2025" }
                },
                {
                  key: { text: "Template version" },
                  value: { text: "DID V2.0" }
                },
                {
                  key: { text: "Submission ID" },
                  value: { text: "submission_f135e49b-2fc6-4326-93c2-281b564fc1ac" }
                },
                {
                  key: { text: "Submission route" },
                  value: { text: "File submission" }
                },
                {
                  key: { text: "File submitted" },
                  value: { text: "DID_Aug2025_V2.csv" },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Download file",
                        visuallyHiddenText: "File submitted"
                      }
                    ]
                  }
                },
                {
                  key: { text: "Submitted on" },
                  value: { text: "15 Sep 2025, 09:30" }
                },
                {
                  key: { text: "Submitted by" },
                  value: { text: "John Smith" }
                },
                {
                  key: { text: "Type" },
                  value: { text: "No data" }
                },
                {
                  key: { text: "Status" },
                  value: { html: tag({text: "Pending validation", classes: "nhsuk-tag--yellow"}) }
                }
                
              ]
            }) }}
      
  </div>
    <div style="margin-top:100px; margin-bottom:200px">
                  <h2 class="nhsuk-heading-m" style="clear: both;">Validation feedback</h2>
                  <p>The file is being validated. You will be able to download a feedback report when the validation is complete.</p>
              
    </div>
  </div>
{% endblock %}
