{% extends "layout.html" %}

{% set pageName = "Submission Errors" %}
{% block beforeContent %}
  {{ backLink({
    href:  "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        
        

        <h1 class="nhsuk-heading-l">Validation errors</h1>

        <p>Open <a href="https://www.datadictionary.nhs.uk/data_sets/clinical_data_sets/diagnostic_imaging_data_set.html?hl=diagnostic">Data dictionary</a> (new window).</p>


        <!-- Merged Error Details Table -->
        <div class="nhsuk-card" style="margin-top: 30px;">
            <div class="nhsuk-card__content">
                <table class="nhsuk-table">
                    <caption class="nhsuk-table__caption">Detailed validation errors for file DID_May2025_V2.csv submitted on 15 Sep 2025, 09:30</caption>
                    <thead class="nhsuk-table__head">
                        <tr class="nhsuk-table__row">
                            <th class="nhsuk-table__header" scope="col">Data Element</th>
                            <th class="nhsuk-table__header" scope="col">Field</th>
                            <th class="nhsuk-table__header" scope="col">Row Number</th>
                            <th class="nhsuk-table__header" scope="col">Accession Number</th>
                            <th class="nhsuk-table__header" scope="col">Provider Site Code</th>
                            <th class="nhsuk-table__header" scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">GENERAL MEDICAL PRACTICE CODE (PATIENT REGISTRATION)</td>
                            <td class="nhsuk-table__cell">GeneralMedicalPractice_<br>PatientRegistration</td>
                            <td class="nhsuk-table__cell">8057</td>
                            <td class="nhsuk-table__cell">RA725012448</td>
                            <td class="nhsuk-table__cell">K82043</td>td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'GENERAL MEDICAL PRACTICE CODE (PATIENT REGISTRATION)'. The value 'K82043' is invalid according to its datatype - The Pattern constraint failed.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">GENERAL MEDICAL PRACTICE CODE (PATIENT REGISTRATION)</td>
                            <td class="nhsuk-table__cell">GeneralMedicalPractice_<br>PatientRegistration</td>
                            <td class="nhsuk-table__cell">15090</td>
                            <td class="nhsuk-table__cell">RA725021248</td>
                            <td class="nhsuk-table__cell">K82043</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'GENERAL MEDICAL PRACTICE CODE (PATIENT REGISTRATION)'. The value 'K82043' is invalid according to its datatype - The Pattern constraint failed.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">GENERAL MEDICAL PRACTICE CODE (PATIENT REGISTRATION)</td>
                            <td class="nhsuk-table__cell">GeneralMedicalPractice_<br>PatientRegistration</td>
                            <td class="nhsuk-table__cell">23456</td>
                            <td class="nhsuk-table__cell">RA725034567</td>
                            <td class="nhsuk-table__cell">K82043</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'GENERAL MEDICAL PRACTICE CODE (PATIENT REGISTRATION)'. The value 'K82043' is invalid according to its datatype - The Pattern constraint failed.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">PERSON BIRTH DATE</td>
                            <td class="nhsuk-table__cell">PersonBirthDate</td>
                            <td class="nhsuk-table__cell">34512</td>
                            <td class="nhsuk-table__cell">RA725045678</td>
                            <td class="nhsuk-table__cell">RA701</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'PERSON BIRTH DATE'. The value '32/12/1980' is invalid according to its datatype - Invalid date format.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">NHS NUMBER</td>
                            <td class="nhsuk-table__cell">NHSNumber</td>
                            <td class="nhsuk-table__cell">45623</td>
                            <td class="nhsuk-table__cell">RA725056789</td>
                            <td class="nhsuk-table__cell">RA723</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'NHS NUMBER'. The value '123456789' is invalid according to its datatype - NHS number check digit validation failed.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">PERSON GENDER CODE CURRENT</td>   
                            <td class="nhsuk-table__cell">PersonGenderCode_Current</td>
                            <td class="nhsuk-table__cell">56734</td>
                            <td class="nhsuk-table__cell">RA725067890</td>
                            <td class="nhsuk-table__cell">RA701</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'PERSON GENDER CODE CURRENT'. The value 'X' is invalid according to its datatype - Value not in allowed enumeration.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">DIAGNOSTIC TEST DATE</td>
                            <td class="nhsuk-table__cell">DiagnosticTestDate</td>
                            <td class="nhsuk-table__cell">67845</td>
                            <td class="nhsuk-table__cell">RA725078901</td>
                            <td class="nhsuk-table__cell">RA723</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'DIAGNOSTIC TEST DATE'. The value '2028/13/01' is invalid according to its datatype - Invalid date format.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">ETHNIC CATEGORY</td>
                            <td class="nhsuk-table__cell">EthnicCategory</td>
                            <td class="nhsuk-table__cell">78956</td>
                            <td class="nhsuk-table__cell">RA725089012</td>
                            <td class="nhsuk-table__cell">RA701</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'ETHNIC CATEGORY'. The value 'ZZ' is invalid according to its datatype - Value not in allowed enumeration.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">REFERRER CODE</td>
                            <td class="nhsuk-table__cell">ReferrerCode</td>
                            <td class="nhsuk-table__cell">89067</td>
                            <td class="nhsuk-table__cell">RA725090123</td>
                            <td class="nhsuk-table__cell">RA723</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'REFERRER CODE'. The value '99' is invalid according to its datatype - Value not in allowed enumeration.</td>
                        </tr>
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">POSTCODE OF USUAL ADDRESS</td>
                            <td class="nhsuk-table__cell">PostcodeOfUsualAddress</td>
                            <td class="nhsuk-table__cell">90178</td>
                            <td class="nhsuk-table__cell">RA725101234</td>
                            <td class="nhsuk-table__cell">SW1A 111</td>
                            <td class="nhsuk-table__cell">An error occurred on the element 'POSTCODE OF USUAL ADDRESS'. The value 'SW1A 111' is invalid according to its datatype - The Pattern constraint failed.</td>
                        </tr>
                    </tbody>
                </table>
                
               </ul>
                </nav>
            </div>
        </div>

       
    </div>
</div>
{% endblock %}