{% extends "iteration5/collection-mantaining-monitoring/reporting-periods/layout-collection-management.html" %}

{% set pageName = "Reporting period saved" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-3">

    <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
      <div class="nhsuk-notification-banner__header">
        <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">Success</h2>
      </div>
      <div class="nhsuk-notification-banner__content">
        <h3 class="nhsuk-notification-banner__heading">Reporting period saved</h3>
        <p>The reporting period <strong>December 2026</strong> has been successfully saved.</p>
      </div>
    </div>

    

    <p class="nhsuk-u-margin-top-6">
      <a href="periods" class="nhsuk-link">Return to reporting periods</a>
    </p>

  </div>
</div>
{% endblock %}
