{% extends "iteration5/collection-mantaining-monitoring/reporting-periods/layout-collection-management.html" %}

{% set pageName = "December 2026 — Reporting period" %}

{% block beforeContent %}
  {% from "breadcrumb/macro.njk" import breadcrumb %}
  {{ breadcrumb({
    items: [
      { href: "../home", text: "Home" },
      { href: "../configuration-collections", text: "Collections configuration" },
      { href: "../dids-configuration", text: "Diagnostic Imaging Data Set (V2.0)" },
      { href: "periods2", text: "Reporting periods" }
    ]
  }) }}
{% endblock %}

{% block content %}
{% from "summary-list/macro.njk" import summaryList %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-3">

    <h1 class="nhsuk-heading-l">December 2026</h1>

    {{ summaryList({
      rows: [
        {
          key: { text: "Reporting period" },
          value: { text: "December 2026" }
        },
        {
          key: { text: "Start date" },
          value: { text: "1 December 2026" }
        },
        {
          key: { text: "End date" },
          value: { text: "31 December 2026" }
        },
        {
          key: { text: "Collection" },
          value: { text: "Diagnostic Imaging Data Set (V2.0)" }
        },
        {
          key: { text: "Submission windows" },
          value: { text: "2 windows" }
        }
      ]
    }) }}

    <a href="period-edit-december2" class="nhsuk-button nhsuk-button--primary nhsuk-u-margin-top-4">Edit reporting period</a>

  </div>
</div>
{% endblock %}
