{% extends "layout00.html" %}
{% set pageName = "Provide additional context" %}
{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-2">
       <h1>
         {{ pageName }}
      </h1>
      <p>To help your organisation’s Information Governance (IG) lead review your request, please provide any additional information that can help them identify you and understand your role.
<br>This is especially useful in large organisations or when multiple requests are being made. You do not need to complete every field — just include what’s relevant and helpful.
      </p>

<p class="nhsuk-u-margin-bottom-8"> </p>
{% from 'input/macro.njk' import input %}

{{ input({
  label: {
    text: "Your team or department",
    classes: "nhsuk-label--m",
    isPageHeading: "true"
  },
  id: "team",
  name: "team",
  classes: "nhsuk-input--width-30",
  inputmode: "string"
}) }}
<p class="nhsuk-u-margin-bottom-8"> </p>
{{ input({
  label: {
    text: "Job title",
    classes: "nhsuk-label--m",
    isPageHeading: "true"
  },
  id: "job-title",
  name: "job-title",
  classes: "nhsuk-input--width-10",
  inputmode: "string"
}) }}
<p class="nhsuk-u-margin-bottom-8"> </p>
{% from 'textarea/macro.njk' import textarea %}

{{ textarea({
  name: "reason-for-access-field",
  id: "reason-for-access-field",
  label: {
    text: "Reason for requesting permissions (optional)",
    classes: "nhsuk-label--m",
    isPageHeading: "true"
  },
  hint: {
    text: "Enter a brief description of why you need access."
  }
}) }}


 <button onclick="location='local-admin-terms'" class="nhsuk-button nhsuk-u-margin-top-7">
                Continue
              </button>
</div>


    </div>
    <div  class="nhsuk-u-margin-top-4" >
      <a href="add-ig-context-error" class="nhsuk-u-margin-top-8">Error</a>
    </div>
    </div>
    
  </div>
</div>
{% endblock %}


