{% extends "layout00.html" %}
{% set pageName = "Check your request details" %}
{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-2">
       <h1>
         {{ pageName }}
      </h1>
    <div class="nhsuk-u-margin-bottom-6"> 
      <p>Please review the details below before submitting your access request.<br>
The name and email address shown are taken from the account you used to sign in. This will be the account you must use to access the portal. If any of these details are incorrect, please contact your identity provider to update them.
<br>Once submitted, your request will be reviewed and processed by the appropriate administrators.        
      </p>
</div>

{% from "summary-list/macro.njk" import summaryList %}

{{ summaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Rick Marley"
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: "rick.marley@nhs.net"
      }
    },
    {
      key: {
        text: "Collection"
      },
      value: {
        text: "Diagnostic Imaging Data Set (DIDS)"
      },
      actions: {
        items: [
          {
            href: "select-collection",
            text: "Change",
            visuallyHiddenText: "collection"
          }
        ]
      }
    },
    {
      key: {
        text: "Organisation"
      },
      value: {
        html: "Milton Keynes Hospital - Independent provider - INHEALTH LIMITED"
      },
      actions: {
        items: [
          {
            href: "select-organisation",
            text: "Change",
            visuallyHiddenText: "organisation"
          }
        ]
      }
    },
    {
      key: {
        text: "ODS Code"
      },
      value: {
        text: "NV1H0"
      },
      actions: {
        items: [
          {
            href: "select-organisation",
            text: "Change",
            visuallyHiddenText: "ODS"
          }
        ]
      }
    },
     {
      key: {
        text: "Role"
      },
      value: {
        html: '<p>Local administrator</p>'
      },
      actions: {
        items: [
          {
            href: "select-role",
            text: "Change",
            visuallyHiddenText: "role"
          }
        ]
      }
    },
    {
      key: {
        text: "ODS"
      },
      value: {
        text: "R1K01"
      },
      actions: {
        items: [
          {
            href: "select-organisation",
            text: "Change",
            visuallyHiddenText: "ODS"
          }
        ]
      }
    },
    {
      key: {
        text: "IG Lead full name"
      },
      value: {
        html: data['ig-name'] 
      },
      actions: {
        items: [
          {
            href: "add-ig-contact",
            text: "Change",
            visuallyHiddenText: "role"
          }
        ]
      }
    },
    {
      key: {
        text: "IG Lead email address"
      },
      value: {
        html: data['email-address-field'] 
      },
      actions: {
        items: [
          {
            href: "add-ig-contact",
            text: "Change",
            visuallyHiddenText: "role"
          }
        ]
      }
    },
    {
      key: {
        text: "IG Lead telephone number"
      },
      value: {
        html: data['telephone-number-field'] 
      },
      actions: {
        items: [
          {
            href: "add-ig-contact",
            text: "Change",
            visuallyHiddenText: "role"
          }
        ]
      }
    },
    {
      key: {
        text: "Your team or department"
      },
      value: {
        html: data['team'] 
        },
      actions: {
        items: [
          {
            href: "add-ig-context",
            text: "Change",
            visuallyHiddenText: "team"
          }
        ]
      }
    },
     {
      key: {
        text: "Job title"
      },
      value: {
        html: data['job-title'] 
      },
      actions: {
        items: [
          {
            href: "add-ig-context",
            text: "Change",
            visuallyHiddenText: "job title"
          }
        ]
      }
    },
     {
      key: {
        text: "Reason for requesting administrator access (optional)"
      },
      value: {
        html: data['reason'] 
      },
      actions: {
        items: [
          {
            href: "add-ig-context",
            text: "Change",
            visuallyHiddenText: "reason"
          }
        ]
      }
    },
    {
      key: {
        text: "Terms and conditions"
      },
      value: {
        html: '<p>Agreed</p>'
      },
      actions: {
        items: [
          {
            href: "local-admin-terms",
            text: "Change",
            visuallyHiddenText: "terms"
          }
        ]
      }
    }
  ]
}) }}

 <button onclick="location='local-admin-confirmation'" class="nhsuk-button nhsuk-u-margin-top-7">
                Submit
              </button>

</div>

   
  </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
