{% extends "iteration1/data-submission/layout.html" %}
{% set pageName = "Page not found" %}

{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-2">
       <h1>
         {{ pageName }}
      </h1>
        <div class="nhsuk-u-margin-bottom-6"> 
          <p>We couldn’t find the page you were looking for.<br>
It might have been moved, deleted, or the link you used could be incorrect.</p>
<p>What you can do:
<ul>


<li>go back to the previous page and try again</li>

<li>return to the <a href="home">home page</a>.</li>
 
 <ul>
          </p>
        </div>



  </div>

    </div>

      

{% endblock %}

{% block scripts %}

{% endblock %}
