{% extends "iteration5/collection-monitoring/layout-collection-monitoring.html" %}

{% set pageName = "DIDS Dashboard" %}
{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "configuration-collections",
      text: "Collections setup"
    }
  ]
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-u-margin-top-2">
      <h1 class="nhsuk-heading-l">
         Lung Cancer Screening Data Set
      </h1>

      <p>
         Select a configuration option for the Lung Cancer Screening Data Set.
      </p>
  {% from "card/macro.njk" import card %}

    <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-top-8">

      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
       {{ card({
        href: "#",
        primary: "true",
        clickable: "true",
        heading: "General configuration",
        headingClasses: "nhsuk-heading-s"
      }) }}
      </li>

         <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
           {{ card({
        href: "#",
        clickable: "true",
        heading: "Manage notifications",
        headingClasses: "nhsuk-heading-s"
      }) }}
      </li>


      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        href: "#",
        primary: "true",
        clickable: "true",
        heading: "Reporting periods",
        headingClasses: "nhsuk-heading-s"
      }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        href: "#",
        primary: "true",
        clickable: "true",
        heading: "Submission windows",
        headingClasses: "nhsuk-heading-s"
      }) }}
      </li>

     <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
       {{ card({
        href: "lcs-organisations",
        primary: "true",
        clickable: "true",
        heading: "Submitting organisations",
        headingClasses: "nhsuk-heading-s"
      }) }}
      </li>
     
     
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
       {{ card({
        href: "lcs-groups",
        primary: "true",
        clickable: "true",
        heading: "Overseer groups",
        headingClasses: "nhsuk-heading-s"
      }) }}
      </li>
      
   


    </ul>
     
  </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}