{% extends "iteration5/collection-monitoring/layout-collection-monitoring.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set pageName = "Submission details" %}

{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "submissions0",
      text: "All submissions"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l"></span>Submission details</h1>
            {% from "summary-list/macro.njk" import summaryList %}
            {{ summaryList({
              rows: [
                {
                  key: { text: "Collection" },
                  value: { text: "Diagnostic Imaging Data Set  (DIDS v2.0)" }
                },
                {
                  key: { text: "Organisation" },
                  value: { text: "Croydon Health Services NHS Trust (RJ6)" }
                },
                {
                  key: { text: "Reporting period" },
                  value: { text: "April 2026" }
                },
                {
                  key: { text: "File submitted" },
                  value: { text: "DIDS_AprFinal2026_1.xml" },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "",
                        visuallyHiddenText: ""
                      }
                    ]
                  }
                },{
                  key: { text: "Status" },
                  value: { html: tag({text: "Pending validation", classes: "nhsuk-tag--yellow"}) }
                }
              ]
            }) }}

 
 <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      More details about the submission
    </span>
  </summary>
  <div class="nhsuk-details__text">
           {{ summaryList({
              rows: [
                {
                  key: { text: "Submission ID" },
                  value: { text: "submission_f135e49b-2fc6-4326-93c2-281b564fc1ac" }
                },
                {
                  key: { text: "Submission route" },
                  value: { text: "File submission" }
                },
                
                {
                  key: { text: "Submitted on" },
                  value: { text: "19 May 2026, 09:14" }
                },
                {
                  key: { text: "Submitted by" },
                  value: { text: "Grace Turner" }
                },
                {
                  key: { text: "Type" },
                  value: { text: "Submission" }
                }
              ]
            }) }}
  </div>
</details>

<div style="margin-top:10px; margin-bottom:20px">
    <h2 class="nhsuk-heading-m" style="clear: both;">Validation feedback</h2>
    <p>The file is being validated. </p>
</div>

  </div>
{% endblock %}
