{% extends "iteration2/collection-management/layout-collection-management.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set pageName = "Submission details" %}

{% block beforeContent %}
  {{ backLink({
    href:  "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l"></span>Submission details</h1>
            {% from "summary-list/macro.njk" import summaryList %}
            {{ summaryList({
              rows: [
                {
                  key: { text: "Collection" },
                  value: { text: "Diagnostic Imaging Data Set  (DIDS v2.0)" }
                },
                {
                  key: { text: "Organisation" },
                  value: { text: "Sheffield Teaching Hospital" }
                },
                {
                  key: { text: "Reporting period" },
                  value: { text: "December 2025" }
                },
                {
                  key: { text: "File submitted" },
                  value: { text: "DID_AugFinal2026_1.xml" },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "",
                        visuallyHiddenText: ""
                      }
                    ]
                  }
                },{
                  key: { text: "Status" },
                  value: { html: tag({text: "Rejected", classes: "nhsuk-tag--red"}) }
                }
              ]
            }) }}

 
 <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      More details about the submission
    </span>
  </summary>
  <div class="nhsuk-details__text">
           {{ summaryList({
              rows: [
                
                {
                  key: { text: "Template version" },
                  value: { text: "DID V2.0" }
                },
                {
                  key: { text: "Submission ID" },
                  value: { text: "submission_f135e49b-2fc6-4326-93c2-281b564fc1ac" }
                },
                {
                  key: { text: "Submission route" },
                  value: { text: "File submission" }
                },
                
                {
                  key: { text: "Submitted on" },
                  value: { text: "	12 Jan 2026, 14:10" }
                },
                {
                  key: { text: "Submitted by" },
                  value: { text: "James Jackson" }
                },
                {
                  key: { text: "Type" },
                  value: { text: "Re-submission" }
                }
              ]
            }) }}
  </div>
</details>

<div style="margin-top:10px; margin-bottom:20px">
    <h2 class="nhsuk-heading-m" style="clear: both;">Validation feedback</h2>
    <p>Your validation feedback details:</p>
    {% from "summary-list/macro.njk" import summaryList %}
            
            {{ summaryList({
              rows: [
                {
                  key: { text: "Number of records" },
                  value: { text: "1,234" }
                  
                },
                
                {
                  key: { text: "Errors" },
                  value: { text: "10 Error(s)" },
                  actions: {
                    items: [
                      {
                        href: "submission-errors-new",
                        text: "",
                        visuallyHiddenText: "collection"
                      }
                    ]
                  }
                 },
                {
                  key: { text: "Warnings" },
                  value: { text: "12 Warning(s)" }
                }
              ]
            }) }}
      
           
    </div>
    <div style="margin-top: 10px;">
      <h2 class="nhsuk-heading-m">Error details by category</h2>
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Top validation errors for the period</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">Field name</th>
            <th scope="col" class="nhsuk-table__header">Error</th>
            <th scope="col" class="nhsuk-table__header">Count</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">GENERAL MEDICAL PRACTICE (PATIENT REGISTRATION)</td>
            <td class="nhsuk-table__cell">Not a current GP code</td>
            <td class="nhsuk-table__cell">4</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">DIAGNOSTIC TEST REQUEST DATE</td>
            <td class="nhsuk-table__cell">Incorrect data format</td>
            <td class="nhsuk-table__cell">2</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">ORGANISATION IDENTIFIER (CODE OF PROVIDER)</td>
            <td class="nhsuk-table__cell">Not a current ODS code</td>
            <td class="nhsuk-table__cell">2</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">CODED PROCEDURE END TIMESTAMP</td>
            <td class="nhsuk-table__cell">Before coded procedure start timestamp</td>
            <td class="nhsuk-table__cell">2</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
