{% extends "iteration5/collection-maintaining-configuring/layout-collection-management.html" %}

{% set pageName = "Data item deleted" %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-3">

    <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
      <div class="nhsuk-notification-banner__header">
        <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">Success</h2>
      </div>
      <div class="nhsuk-notification-banner__content">
        <h3 class="nhsuk-notification-banner__heading">Data item deleted</h3>
        <p>The data item <strong>LocalPatientID</strong> (LOCAL PATIENT IDENTIFIER (EXTENDED)) has been permanently deleted from Table 2 - ICSD_PatientDem.</p>
      </div>
    </div>

    <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">What happens next?</h2>
    <p>This data item and all its associated validation rules have been removed from the table specification.</p>
    <p>If you deleted this item by mistake, you will need to add it again using the Add new data item option.</p>

    <p class="nhsuk-u-margin-top-6">
      <a href="collection-spec-table2" class="nhsuk-link">Return to Table 2 - ICSD_PatientDem</a>
    </p>

  </div>
</div>
{% endblock %}
