{% extends "iteration5/collection-maintaining-configuring/layout-collection-management.html" %}

{% set pageName = "Roles" %}


{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-2">

    {% from "checkboxes/macro.njk" import checkboxes %}

    {{ checkboxes({
      idPrefix: "roles",
      name: "roles",
      fieldset: {
        legend: {
          text: "Roles",
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      },
      hint: {
        text: "Select the roles that can access and submit data for this collection."
      },
      items: [
      {
          value: "group-monitoring",
          text: "Group monitoring",
          checked: true
        },
        {
          value: "local-administrator",
          text: "Local administrator",
          checked: true
        },
        {
          value: "submitter",
          text: "Submitter",
          checked: true
        },
        {
          value: "viewer",
          text: "Viewer",
          checked: false
        },  
      {
          value: "approver",
          text: "Approver",
          checked: false
        }
      ]
    }) }}

    <button class="nhsuk-button  nhsuk-u-margin-top-4" onclick="location.href='collection-general-config'">Save</button>

  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
