{% extends "iteration4/collection-management/layout-collection-management.html" %}

{% set pageName = "Upload organisations" %}

{% block beforeContent %}
  <a class="nhsuk-back-link__link nhsuk-u-margin-top-8" href="add-organisation-method">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back
  </a>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l nhsuk-u-margin-top-3">Upload organisations</h1>

      <p>Upload a CSV file to add multiple organisations at once.</p>
      <p class="nhsuk-hint">The file must be a CSV with one organisation per row, including columns for organisation name, ODS code, region and status. <a href="#">Download a template CSV</a>.</p>

      <form action="lcs-organisations" method="get" enctype="multipart/form-data">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="organisations-file">
            <strong>Upload a CSV file</strong>
          </label>
          <div class="nhsuk-hint" id="organisations-file-hint">
            The file must be smaller than 5MB.
          </div>
          <input class="nhsuk-input" id="organisations-file" name="organisations-file"
                 type="file" accept=".csv" aria-describedby="organisations-file-hint">
        </div>

        <button class="nhsuk-button" type="submit">
          Upload file
        </button>

        <p>
          <a href="lcs-organisations">Cancel</a>
        </p>

      </form>

    </div>
  </div>

{% endblock %}
