{% extends "layout-emails.html" %}
{% set pageName = "Email templates" %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        

        
     
                    <h1 >Emails on Gov Notify</h1>
                    <ul style="margin-bottom: 0; padding-left: 20px;">
                        <li>x</li>
                        <li>x</li>
                        <li>x</li>
                        <li>x</li>
                        <li>x</li>
                        <li>x</li>
                        <li>x</li>
                        <li>x</li>
                    </ul>
     </div>     
</div>
{% endblock %}