{% extends "iteration5/local-admin-user-management/layout.html" %}

{% set pageName = "Guidance" %}
{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "home",
      text: "Home"
    }
  ]
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-3">
    <h1>   
        {{ pageName }}
    </h1> 
    <p>If you need help using the National Data Submission Portal (NDSP), you can find answers and guidance using the resources below.
    </p>
    <h2>NDSP user guidance 
    </h2>
    
      <p>You can visit our NDSP guidance for step-by-step instructions and information about 
        managing your permissions and roles and how to submit data:</p>
      
          <p><a href="https://future.nhs.uk/NDSP/view?objectID=69234512" target="_blank" rel="noopener noreferrer">NDSP guidance (opens in a new tab)</a></p>
    
     
      

   <hr>
    </div>

 
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-3">

   <h2>   
  Lung Cancer Screening Data Set (LCSDS) resources
</h2>
<p>
Quick access to LCSDS user guidance to help you manage your data submissions with detailed information about the data requirements:<br><br> 
<a href="https://digital.nhs.uk/data-and-information/data-collections-and-data-sets/data-sets/lung-cancer-screening-data-set/user-guidance" target="_blank" rel="noopener noreferrer">Lung Cancer Screening Data Set user guidance</a> (opens in a new tab)</p>

 <p> This collection allows the API to automate submissions. This is a one-off setup and is only needed if submissions are made programmatically. See the <a href="https://future.nhs.uk/NDSP/view?objectID=69234512">API submission guidance</a> for full instructions or follow the instruction below. </p>
      
      <details class="nhsuk-details nhsuk-u-margin-top-2">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Setting up an API submission for LCSDS
    </span>
  </summary>
  <div class="nhsuk-details__text">
   
    <h3>How to get an API token</h3>
    <p>Click Get an API token below to open the API management application.</p>
    <p>API tokens are organisation-specific. Before you are redirected to the application, you will be asked to confirm which organisation you want the token for. Make sure you select the correct organisation, as the token will only be valid for submissions made on behalf of that organisation.</p>
    <p>Go to OAuth &amp; permissions and select Rotate secret to generate a new client secret. This client secret is your API token.<br>
        Keep your API token secure, as it allows submissions on behalf of your organisation.
    </p>
    <h3>Other settings</h3>
    <p>When submitting via the API, you must also provide a submission type and a submission window ID.</p>

    <h3>Submission types</h3>
    <table class="nhsuk-table-responsive" role="table">
      <caption class="nhsuk-table__caption nhs-visually-hidden">Submission types and IDs</caption>
      <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row" class="nhsuk-table__row">
          <th scope="col" class="nhsuk-table__header" role="columnheader">Submission type</th>
          <th scope="col" class="nhsuk-table__header" role="columnheader">ID</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission type</span>Submission</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>3535</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission type</span>Test</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>3362</td>
        </tr>
      </tbody>
    </table>

    <h3>Submission window IDs</h3>
    <table class="nhsuk-table-responsive" role="table">
      <caption class="nhsuk-table__caption nhs-visually-hidden">Submission windows and IDs</caption>
      <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row" class="nhsuk-table__row">
          <th scope="col" class="nhsuk-table__header" role="columnheader">Submission window</th>
          <th scope="col" class="nhsuk-table__header" role="columnheader">ID</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>January 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_64eb9ab2-227d-4d6a-a696-27c788ee76c3</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>January 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_eb2adf7e-8618-49e3-8f11-e2c0b671e6bf</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>February 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_ba9b122b-916c-4f75-b587-b3532a62bc58</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>February 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_c8035b6f-b7f4-4de2-8185-d46d540bf865</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>March 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_5f76a8f2-2b61-4519-b02c-2efb5aa0d66a</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>March 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_f13d120e-4f9e-47bc-ae36-06c11f1f5deb</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>April 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_1f0e1bd3-f66e-4e50-90e9-cc4f4f266f70</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>April 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_6f336c27-4a80-4732-8aef-18d26fca95a5</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>May 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_bf3d4baf-9d6e-4f08-a62c-e3f6ec5f5266</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>May 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_77e81eed-7ee8-4a16-a7a7-e764fd5dd7da</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>June 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_2ee750a4-f4f8-47e5-ad91-80f0ac5e72b5</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>June 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_f261eba7-a589-4b17-b130-4a7802f7e684</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>July 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_49e6a8d0-d80b-4468-95c3-a3cbc8f75bb7</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>July 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_b45ea577-0d1f-4377-bf33-e53df1846f76</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>August 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_8b1ac4e1-b8c2-45b6-8b8e-a145c073f040</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>August 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_398f41f4-474e-456f-b0e2-bbe188f2011d</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>September 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_3b0df706-e4fe-43f9-adab-dc454f9f7d7e</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>September 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_5fbda8dc-d166-4735-ad4e-c5fafffd8c0b</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>October 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_16eb061e-0fd3-4f44-b983-1e3a30340f28</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>October 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_9d50d0e9-f130-4922-93f6-b65f28f9f898</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>November 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_2f8129d0-fbf1-41f0-a1cb-7fdb7f4713f4</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>November 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_ee96f65c-10ff-4f2a-9133-946ffb4abef4</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>December 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_0b4295f4-df52-4b83-ae5e-c90ba4ff278b</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>December 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_5f8b064f-17f8-4414-a65b-7f8fd8dbc8e0</td>
        </tr>
      </tbody>
    </table>

  </div>
</details>
{{ button({
  text: "Get an API token",
  classes: "nhsuk-button--secondary small",
  href: "api-token-select-collection"
}) }}



<hr>
    </div>

 
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-3">

   <h2>   
  Diagnostic Imaging Data Set (DIDS) v2.0 resources
</h2>
<p>
Quick access to DIDS user guidance to help you manage your data submissions with detailed information about the data requirements:<br><br> 
<a href="https://digital.nhs.uk/data-and-information/data-collections-and-data-sets/data-sets/diagnostic-imaging-data-set/user-guidance" target="_blank" rel="noopener noreferrer">Diagnostic Imaging Data Set user guidance</a> (opens in a new tab)</p>

 <p> This collection allows the API to automate submissions. This is a one-off setup and is only needed if submissions are made programmatically. See the <a href="https://future.nhs.uk/NDSP/view?objectID=69234512">API submission guidance</a> for full instructions or follow the instruction below. </p>
      
      <details class="nhsuk-details nhsuk-u-margin-top-2">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Setting up an API submission for DIDS
    </span>
  </summary>
  <div class="nhsuk-details__text">
   
    <h3>How to get an API token</h3>
    <p>Click Get an API token below to open the API management application.</p>
    <p>API tokens are organisation-specific. Before you are redirected to the application, you will be asked to confirm which organisation you want the token for. Make sure you select the correct organisation, as the token will only be valid for submissions made on behalf of that organisation.</p>
    <p>Go to OAuth &amp; permissions and select Rotate secret to generate a new client secret. This client secret is your API token.<br>
        Keep your API token secure, as it allows submissions on behalf of your organisation.
    </p>
    <h3>Other settings</h3>
    <p>When submitting via the API, you must also provide a submission type and a submission window ID.</p>

    <h3>Submission types</h3>
    <table class="nhsuk-table-responsive" role="table">
      <caption class="nhsuk-table__caption nhs-visually-hidden">Submission types and IDs</caption>
      <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row" class="nhsuk-table__row">
          <th scope="col" class="nhsuk-table__header" role="columnheader">Submission type</th>
          <th scope="col" class="nhsuk-table__header" role="columnheader">ID</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission type</span>Submission</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>3535</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission type</span>Test</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>3362</td>
        </tr>
      </tbody>
    </table>

    <h3>Submission window IDs</h3>
    <table class="nhsuk-table-responsive" role="table">
      <caption class="nhsuk-table__caption nhs-visually-hidden">Submission windows and IDs</caption>
      <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row" class="nhsuk-table__row">
          <th scope="col" class="nhsuk-table__header" role="columnheader">Submission window</th>
          <th scope="col" class="nhsuk-table__header" role="columnheader">ID</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>January 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_64eb9ab2-227d-4d6a-a696-27c788ee76c3</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>January 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_eb2adf7e-8618-49e3-8f11-e2c0b671e6bf</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>February 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_ba9b122b-916c-4f75-b587-b3532a62bc58</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>February 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_c8035b6f-b7f4-4de2-8185-d46d540bf865</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>March 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_5f76a8f2-2b61-4519-b02c-2efb5aa0d66a</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>March 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_f13d120e-4f9e-47bc-ae36-06c11f1f5deb</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>April 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_1f0e1bd3-f66e-4e50-90e9-cc4f4f266f70</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>April 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_6f336c27-4a80-4732-8aef-18d26fca95a5</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>May 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_bf3d4baf-9d6e-4f08-a62c-e3f6ec5f5266</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>May 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_77e81eed-7ee8-4a16-a7a7-e764fd5dd7da</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>June 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_2ee750a4-f4f8-47e5-ad91-80f0ac5e72b5</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>June 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_f261eba7-a589-4b17-b130-4a7802f7e684</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>July 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_49e6a8d0-d80b-4468-95c3-a3cbc8f75bb7</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>July 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_b45ea577-0d1f-4377-bf33-e53df1846f76</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>August 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_8b1ac4e1-b8c2-45b6-8b8e-a145c073f040</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>August 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_398f41f4-474e-456f-b0e2-bbe188f2011d</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>September 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_3b0df706-e4fe-43f9-adab-dc454f9f7d7e</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>September 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_5fbda8dc-d166-4735-ad4e-c5fafffd8c0b</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>October 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_16eb061e-0fd3-4f44-b983-1e3a30340f28</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>October 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_9d50d0e9-f130-4922-93f6-b65f28f9f898</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>November 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_2f8129d0-fbf1-41f0-a1cb-7fdb7f4713f4</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>November 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_ee96f65c-10ff-4f2a-9133-946ffb4abef4</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>December 2026 (provisional processing deadline)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_0b4295f4-df52-4b83-ae5e-c90ba4ff278b</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission window</span>December 2026 (window closes)</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">ID</span>submissionWindow_5f8b064f-17f8-4414-a65b-7f8fd8dbc8e0</td>
        </tr>
      </tbody>
    </table>

  </div>
</details>
{{ button({
  text: "Get an API token",
  classes: "nhsuk-button--secondary small",
  href: "api-token-org-dids"
}) }}

</div>
  </div>
</div>

{% endblock %}

