{% extends "iteration5/collection-maintaining/layout.html" %}

{% set pageName = "Add organisation" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l nhsuk-u-margin-top-3">How do you want to add organisations?</h1>

      <form action="#" method="get" id="add-org-method-form">

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="method-1" name="method" type="radio" value="one">
                <label class="nhsuk-label nhsuk-radios__label" for="method-1">
                  Add one organisation
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="method-1-hint">
                  Fill in a form to add a single organisation.
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="method-2" name="method" type="radio" value="multiple">
                <label class="nhsuk-label nhsuk-radios__label" for="method-2">
                  Add more than one organisation
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="method-2-hint">
                  Upload a CSV file containing multiple organisations.
                </div>
              </div>

            </div>
          </fieldset>
        </div>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}

{% block scripts %}
<script>
  document.getElementById('add-org-method-form').addEventListener('submit', function(e) {
    e.preventDefault();
    var selected = document.querySelector('input[name="method"]:checked');
    if (!selected) return;
    if (selected.value === 'one') {
      window.location.href = 'add-organisation';
    } else {
      window.location.href = 'add-organisation-upload';
    }
  });
</script>
{% endblock %}
