<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout0.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-thirds">


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        {{ serviceName }}
      </h1>

      
      <h2 class="nhsuk-heading-m">
        NHS prototype kit
        <span class="nhsuk-caption-l nhsuk-caption--bottom">Version {{version}}</span>
      </h2>
       <h2 class="nhsuk-heading-m">
        Useful links
      </h2>

      <ul class="nhsuk-list nhsuk-list--bullet">

        <li>
          <a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1752171577344/6b3cecdfd0729db5e3f6b4a3c25a3fbd2a0b3931">Main Mural board</a>
        </li>
        <li>
          <a href="#">Assumptions tracker</a>
        </li>
        <li>
          <a href="#">Iterations tracker</a>
        </li>
        <li>
          <a href="https://service-manual.nhs.uk/design-system">NHS design system </a>
        </li>
      </ul>

      <hr>

      {% from 'details/macro.njk' import details %}

      <div class="nhsuk-expander-group">
        {{ details({
          classes: "nhsuk-expander",
          open: true,
          text: "Iteration no.0",
          html: "
            <p>Text</p>
            <table class='nhsuk-table'>
              <tbody class='nhsuk-table__body'>
                <tr class='nhsuk-table__row'>
                  <td class='nhsuk-table__cell'>Last update</td>
                  <td class='nhsuk-table__cell'>5 Oct 2025</td>
                </tr>
                <tr class='nhsuk-table__row'>
                  <td class='nhsuk-table__cell'>Ready to test</td>
                  <td class='nhsuk-table__cell'>Yes</td>
                </tr>
              </tbody>
            </table>
            <h3>Journeys:</h3>
            <ul>
              <li><a href='/iteration0/home1'>File submission scenario 1 - DID 1 collection/ 1 organisation</a></li>
              <li><a href='/iteration0/home2'>File submission scenario 2 - 2 collections/ 2 organisations</a></li>
              <li><a href='/iteration0/home3'>File submission scenario 3 - DID 1 collection/ 2 organisations</a></li>
              <li><a href='/iteration0/home-no-permission'>Request permissions</a></li>
            </ul>
          "
        }) }}

        {{ details({
          classes: "nhsuk-expander",
          open: true,
          text: "Iteration no.1",
          html: "
          
            <table class='nhsuk-table'>
              
              <tbody class='nhsuk-table__body'>
               <tr class='nhsuk-table__row'>
                  <td class='nhsuk-table__cell'>Last update</td>
                  <td class='nhsuk-table__cell'>5 Nov 2025</td>
                </tr>
                <tr class='nhsuk-table__row'>
                  <td class='nhsuk-table__cell'>Ready to test</td>
                  <td class='nhsuk-table__cell'>Yes</td>
                </tr>
              </tbody>
            </table>
            <h3>What changed in this iteration</h3>
            <p>Text</p>
            <h3>Journeys:</h3>
            <ul>
 
              <li><a href='iteration1/permission-management/existing-local-admin/home-no-permission'>Request permissions local admin existing</a></li>
              <li><a href='iteration1/permission-management/no-existing-local-admin/home-no-permission'>Request permissions no existing local admin</a></li>
              <li><a href='iteration1/permission-management/no-local-admin/home-no-permission'>Request permissions, no local admin role offered</a></li>
              <li><a href='#'>Grant permissions</a></li>
              <li><a href='iteration1/data-submission/home'>File submission</a></li>
              <li><a href='iteration1/emails/emails'>Email templates</a></li>
              
            </ul>
          "
        }) }}

        {{ details({
          classes: "nhsuk-expander",
          text: "Iteration no.2",
          html: "
           
          "
        }) }}

        {{ details({
          classes: "nhsuk-expander",
          text: "Iteration no.3",
          html: "
             
          "
        }) }}
        {{ details({
          classes: "nhsuk-expander",
          text: "Unuxpected journeys",
          html: "
            
          "
        }) }}
      </div>

      <hr>

     
      <p>
        There is a selection of <a href="/example-templates">example page templates</a> in <strong>/lib/example-templates/</strong>. To use these, copy and paste them into <strong>/app/views/</strong>.
      </p>
    </div>
  </div>
{% endblock %}
