<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "true",
    showSearch: "false",
    searchAction: " ",
    primaryLinks: [
      {
        url  : '/iteration0/home2',
        label : "Home"
      },
      {
        url  : '/iteration0/submissions2',
        label : "Submissions"
      },
      {
        url : '#',
        label : 'Reports'
      },
      {
        url : '#',
        label : 'Guidance'
      },
      {
        url : '#',
        label : 'Support'
      }
    ]
  }) }}

  <span style="position: absolute; top: 0; right: 13%; height: 64px; display: flex; align-items: center; font-weight: 600; font-size: 1rem; color: #ffffff; z-index: 2;">
    John Smith |
    <a href="#" style="margin-left: 10px; color:white">Settings | </a>
    <a href="#" style="margin-left: 10px; color:white">Log out</a>
  </span>
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer(
    {
    links: [
      {
        URL: "#",
        label: "Our policies"
      },
      {
        URL: "#",
        label: "Accessibility statement"
      },
      {
        URL: "#",
        label: "Cookies"
      }
          ]
    }
          ) 
  }}

 <div class="nhsuk-width-container">
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="/">Iterations - Index</a>
        </li>
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="home1">Scenario1 - DID 1 collection/1 organisation</a>
        </li>
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="home2">Scenario2 - 2 collections/ 2 organisations</a>
        </li>
      </ul>

  </div>
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavaScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
