{% extends "iteration5/collection-mantaining-monitoring/layout-collection-management.html" %}

{% set pageName = "Reminder: submission deadline in 1 day" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
{% from "tag/macro.njk" import tag %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-2">

    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

    <div class="nhsuk-u-margin-bottom-2">
      
    </div>

    <div style="display:flex; justify-content:space-between; align-items:baseline;">
      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0">Notification details</h2>
      <a href="bespoke-notification-edit-dids">Edit notification</a>
    </div>

    {% from "summary-list/macro.njk" import summaryList %}
    {{ summaryList({
      rows: [
        {
          key: { text: "Send to" },
          value: { text: "Submitters" }
        },

        {
          key: { text: "When to send" },
          value: { text: "Send manually" }
        },
        {
          key: { text: "Category" },
          value: { text: "Reminder" }
        },
        {
          key: { text: "Status" },
          value: { text: "Active" }
        }
      ]
    }) }}

    <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Email content</h2>

    {% from "summary-list/macro.njk" import summaryList %}
    {{ summaryList({
      rows: [
        {
          key: { text: "Subject line" },
          value: { text: "National Data Submission Portal: Submission deadline in 1 day for ((collection))" }
        },
        {
          key: { text: "Email content (Body)" },
          value: { html: "<p>Dear Colleague,<br><br>This is a reminder that your submission for ((collection)) is due in 1 day.<br>

The submission deadline is ((submission deadline)) for the ((reporting period)) reporting period.<br>

Our records show that your organisation has not yet submitted.<br>

Please submit your file before the deadline.<br>

If you have already submitted since this reminder was sent, you do not need to take any further action.<br><br>NDSP Team</p>" }
        }
      ]
    }) }}

    <a href="bespoke-notification-view-dids-confirmed" class="nhsuk-button nhsuk-u-margin-top-4">Save notification</a>

  </div>
</div>
{% endblock %}
