{% extends "iteration5/collection-mantaining-monitoring/layout-collection-management.html" %}

{% set pageName = "New feature available for DIDS" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
{% from "tag/macro.njk" import tag %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-2">

    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

    <div class="nhsuk-u-margin-bottom-2">
      
    </div>

    <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Notification details</h2>

    {% from "summary-list/macro.njk" import summaryList %}
    {{ summaryList({
      rows: [
        {
          key: { text: "Subject" },
          value: { text: "New feature available for DIDS" }
        },
        {
          key: { text: "Users" },
          value: { text: "Submitters" }
        },

        {
          key: { text: "Send trigger" },
          value: { text: "On a specific date" }
        },
        {
          key: { text: "Send date" },
          value: { text: "01 Jul 2026, 08:00" }
        },
        {
          key: { text: "Status" },
          value: { text: "Sent" }
        }
      ]
    }) }}

    <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Email content</h2>

    {% from "summary-list/macro.njk" import summaryList %}
    {{ summaryList({
      rows: [
        {
          key: { text: "Subject line" },
          value: { text: "New feature available for DIDS" }
        },
        {
          key: { text: "Body" },
          value: { html: "<p>Dear Colleague,<br><br>A new feature is now available for DIDS in the National Data Submission Portal.</p><p>Dear colleague, The update is designed to make it easier to manage your submissions and review submission information.</p><p>You do not need to take any action before your next submission. The new feature will be available when you next use DIDS.</p><p class='nhsuk-u-margin-bottom-0'>If you need support, contact the NDSP Service Desk.<br><br>NDSP Team</p>" }
        }
      ]
    }) }}

    <a href="announcement-email-edit" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4">
      Edit notification
    </a>

  </div>
</div>
{% endblock %}
