{% extends "iteration5/collection-mantaining-monitoring/layout-collection-management.html" %}

{% set pageName = "Remove user permissions" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-3">

    <h1 class="nhsuk-heading-l">Remove user permissions</h1>
    <p>You are about to remove permissions for <strong>Marcus Deeney</strong> (marcus.deeney@mft.nhs.uk).</p>
    <p>This will revoke their Monitoring role permissions for the Lung Cancer Screening Data Set.</p>

    <p class="nhsuk-hint nhsuk-u-margin-top-4">This action cannot be undone. The user will need to submit a new request to regain permissions.</p>

    <div class="nhsuk-u-margin-top-6">
      <a href="javascript:history.back()" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-3">
        Cancel
      </a>
      <a href="manage-permissions-marcus" class="nhsuk-button nhsuk-button--warning">
        Remove permissions
      </a>
    </div>

  </div>
</div>

{% endblock %}
