{% extends "iteration5/collection-mantaining-monitoring/layout-collection-management.html" %}

{% set pageName = "Organisations uploaded" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-5">

    <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
      <div class="nhsuk-notification-banner__header">
        <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="nhsuk-notification-banner__content">
        <h3 class="nhsuk-notification-banner__heading">
          Organisations uploaded
        </h3>
        <p>The file lcs-organisations.csv has been processed.</p>
        <p>20 organisations were added.</p>
        <p>5 organisations were not added because they are already submitting organisations for this collection:  <a href="organisations-not-added">download the list as csv</a>.</p>
        <!-- <ul>
          <li>ABC123</li>
          <li>DEF456</li>
          <li>GHI789</li>
          <li>JKL012</li>
          </li>

        </ul> -->
       
      </div>
    </div>

   
    <p>Go back to  <a href="lcs-organisations">organisations list</a>.</p>

  
   

  </div>
</div>

{% endblock %}
